@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.btn-x {
  position: relative;
  display: flex;
  align-items: center;
  padding: .5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 500ms;
  border-radius: 20px;
  overflow: hidden;
  width: auto;
  max-width: 6rem;
  width: 3rem;
  background-color: var(--gray-300);
}

.btn-x svg{
  width: 1.4rem;
}

.btn-x:hover{
  background-color: #007bff;
  width: 5.5rem;
}

.btn-x::after{
  position: absolute;
  content: '';
  transform: translate(100vw);
  transition: all 500ms;
  right: 0;
}

.btn-x:hover::after{
  transform: translate(-1.4rem);
  color: var(--gray-50);
}

.btn-x-hover-edit{
  content: 'edit';
}

.btn-x-hover-edit:hover::after{
  left: 3.5rem;
  content: 'edit';
  transform: translate(-1.4rem);

}
.btn-x-hover-copy-::after{
  content: 'copy';
}

.btn-x-hover-copy-done::after{
  left: 3.5rem;
  content: 'copied';
  transform: translate(-1.4rem);
}

.btn-x-hover-copy-done{
  width: 5.5rem;
}
